/* Reset all elements */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* General body styles */
body {
    background-color: #000;
    color: #fff;
}

/* Header Section */
.header {
    width: 100%;
    height: 100vh;
    padding: 10px 8%;
    position: relative;

    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%),  /* Vertical Gradient */
        linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%),  /* Horizontal Gradient */
        url(images/netflix-header.jpg); /* Background Image */
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navigation bar styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

/* Hover effect for Sign In button */
.signIn-btn:hover {
    background: #c20303;
}

/* Language button styles */
.language-btn {
    display: inline-flex;
    align-items: center;
    background: #181818;
    box-shadow: 0 0 0 0.5px #fff;
    padding: 7px 10px;
}

.language-icon {
    width: 14px;
    margin-right: 7px;
}

.arrow-icon {
    width: 17px;
    margin-left: 15px;
}

/* Header content styling */
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

/* Email Signup Form styling */
.email-signup {
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    background: rgba(0, 0, 0, 0.6);  /* Semi-transparent background */
    border: 0.5px solid #c6c6c6;   /* Thin border with light gray color */
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 20px;
    font-size: 15px;
    font-weight: 550;
    height: 60px;
    outline: 0;
    color: #fff;
}

/* Submit button styles */
.email-signup button {
    background: #db0001;
    border: 0;
    border-radius: 5px;
    outline: 0;
    color: #fff;
    font-size: 16px;
    height: 60px;
    cursor: pointer;
    padding: 15px 30px;  /* Adjust padding for button */
    font-size: 15px;
    font-weight: 550;
    display: flex;       /* Make button a flex container */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center content */
}

.email-signup button:hover {
    background: #c20303;
}

/* Get Started button icon styling */
.getStarted-icon {
    width: 25px;
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
}

.rounded-edge {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    clip-path: ellipse(65% 100% at bottom);
    padding: 1rem;
    padding-top: 0.5rem;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(3, 13, 61));

    /* Fading effect on the sides */
    mask: linear-gradient(to right, #0000, #000 30%, #000 70%, #0000);
}

.rounded-edge-border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    left: 0;
    right: 0;
    clip-path: ellipse(65% 100% at bottom);
    padding: 1rem;
    padding-top: 0.5rem;
    background-image: linear-gradient(to right, rgb(0, 0, 0), #c5321f, rgb(0, 0, 0));
    mask: radial-gradient(63% 95px at bottom, #0000 100%, #000);
    transition: background-image 0.5s ease-in-out;
}

.rounded-edge-border:hover {
    background-image: linear-gradient(to right, rgb(3, 13, 61), #c5321f, rgb(3, 13, 61));
}

/* Container styling */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.container:hover {
    transition: all ease 0.7s;
    transform: scale(1.03);
    cursor: pointer;
}

@media (max-width: 1000px) {
    .logo {
        width: 100px;
        cursor: pointer;
    }
    nav button {
        padding: 7px 20px;
        font-size: 14px;
    }
    .header-content h1 {
        font-size: 40px;
        max-width: 650px;
    }
    
    .header-content h3 {
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .email-signup input {
        padding: 20px;
        font-size: 13px;
        font-weight: 550;
        height: 50px;
    }
    .arrow-icon {
        width: 17px;
        margin-left: 15px;
    }
    .email-signup button {
        font-size: 13px;
        width: 190px;
        height: 50px;
        padding: 15px 15px;  /* Adjust padding for button */
        font-weight: 550;
        display: flex;       /* Make button a flex container */
        align-items: center; /* Vertically center the content */
        justify-content: center; /* Horizontally center content */
    }
    .email-signup {
        display: flex;
        padding: 5%;
    }
}












/* Learn More styles */
.container {
    width: 86%;
    padding: 20px;
    margin: auto;
}

.learnMore-img img {
    max-width: 100px;
    border-radius: 10px;
}

.learnMore {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: space-between; /* Space between text and button */
    align-items: center; /* Center content vertically */
    background-image: linear-gradient(to left, rgb(38, 32, 54), rgb(43, 19, 59));
    padding: 5px;
    border-radius: 15px;
    max-width: 1500px;
}

.learnMore:hover {
    background-image: linear-gradient(to left, rgb(53, 32, 106), rgb(76, 29, 107));
}

.learnMore-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
}

.learnMore h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
}

.learnMore p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
}

.learnMore-btn {
    background-color: #4e4e4e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto; /* Push button to the right */
    margin-right: 15px;
}

.learnMore-btn:hover {
    background-color: #463f57;
}

@media (max-width: 760px) {
    .container {
        flex-direction: column;
        /* Stack image and text vertically */
        align-items: first baseline;
        /* Center everything */
        width: 100%;
        padding: 10px;
        margin: auto;
    }
    .learnMore {
        width: 100%;
        padding: 20px;
        margin: auto;
    }

    .learnMore-img {
        text-align: center; /* Center image */
    }

    .learnMore-img img {
        max-width: 100px; /* Make image responsive */
    }

}

@media (max-width: 930px) {
    .container {
        width: 100%;
        padding: 25px;
        margin: auto;
    }

    .learnMore {
        flex-direction: column; /* Stack text and button */
        align-items: flex-start; /* Align to the left */
        padding: 15px; /* More padding for better spacing */
        width: 100%;
    }

    .learnMore-text {
        margin-left: 0; /* Remove extra left margin */
        text-align: center; /* Center text for better readability */
    }

    .learnMore-btn {
        margin-left: 0; /* Reset margin */
        margin-right: 0; /* Reset margin */
        margin-top: 10px; /* Add space between text and button */
        
        text-align: center; /* Center text inside the button */
    }
}

@media (max-width: 1600px) {
    .container {
        width: 100%;
        padding: 25px;
        margin: auto;
    }
}












    /* 
* Carousel section to display trending movies 
*/
.carousel-section {
    width: 100%;
    padding: 20px;
    margin: auto;
}

/* 
* Carousel wrapper for horizontal scrolling of cards 
*/
.carousel-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.section-title {
    margin-left: 8%;
    font-size: 23px;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    /* Customize as needed */
    align-items:flex-start;
}
/* 
* Track that holds the carousel cards 
*/
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(200px * 10);
    /* 10 cards total */
    margin-left: 5%;
    margin-right: 5%;

}

/* 
* Individual carousel card styling 
*/
.carousel-card {
    min-width: 19.3%;
    margin: 0 5px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.carousel-card:hover {
    transition: all ease 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}

/* 
* Image styling within each carousel card 
*/
.carousel-card img {
    width: 85%;
    height: auto;
    display: block;
    margin:0.5rem 0;
    border-radius:7px;
}

/* 
* Card number overlay styling 
*/
.card-number {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 7vw;
    font-weight: bold;
    color: #000000;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

/* 
* Arrow styles for carousel navigation 
*/
.arrow {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(37, 37, 37); /* Applied from .card-button button */
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    color: white;
    /* Ensure the arrows are white */
    height: 8rem; /* Applied from .card-button button */
}

.arrow-left {
    left: 10px;
    display: block;
    /* Ensure it's always visible */
    display: flex;
    align-items: center;
}

.arrow-right {
    right: 10px;
    display: block;
    /* Ensure it's visible */
    display: flex;
    align-items: center;
}

/* 
* Limit visible cards to 5 in the carousel 
*/
.carousel-wrapper {
    max-width: calc(200px * 7);
    /* 5 cards shown at a time */
}

@media (max-width: 1600px) {

    .section-title {
        margin-left: 1%;
        margin-bottom: 20px;
        font-weight: bold;
        /* Customize as needed */
        align-items:flex-start;
    }

}

@media (max-width: 1224px) {


    /* 
* Individual carousel card styling 
*/
    .carousel-card {
        min-width: 23.4%;
        margin: 0 20px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

}

@media (max-width: 624px) {


    /* 
* Individual carousel card styling 
*/
    .carousel-card {
        min-width: 34%;
        margin: 0 5px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    .carousel-track {
        width: calc(550px * 10);
        margin-left: 11%;
        margin-right: 11%;
    
    }

    .arrow {
        font-size: 25px;
        height: 5rem; /* Applied from .card-button button */
    }

}






















section {
    width: 100%;
    max-width: 100%;
    margin: auto;
    align-items: center;
    padding: 20px;
  }

  .selection-containers {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 2.5rem;
      padding-left: 2rem;
  }
  
  .reasons-section h2 {
    font-size: 23px;
    font-weight: 700;
    color: white;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: -2%;
  }
  
  .reason-cards {
    display: flex;
    gap: 15px;
    /* Space between cards */
    justify-content: center;
    /* Center the cards */
    align-items: center;
    /* Align cards vertically */
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line */
  }
  
  .reason {
    flex-wrap: wrap;
    width: 21rem;
    flex: 0 0 auto;
    height: 18rem;
    border-radius: 10px;
    position: relative;
    padding-top: 10;
    background: linear-gradient(to left bottom, #192144, #1b1d3b, #1c1931, #1d172d, #1e1426, #1f1324, #1f1323, #1f111e, #21101c, #210f19, #210e17);
  }
  
  .reason h1 {
    color: white;
    font-weight: 500;
    margin: 1rem;
  }
  
  .reason p {
    color: #aaabb7;
    margin: 1rem;
  }
  
  .reason svg {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

      /* 
* Responsive styles for feature cards on larger screens 
*/
@media (max-width: 1650px) {

    .reasons-section h2 {
        margin-left: -9%;
        margin-bottom: 20px;
        font-weight: bold;
        /* Customize as needed */
        align-items:flex-start;
    }

}

@media (max-width: 1550px) {
    .reason {
        width: calc(100% - 5px);
        /* Two cards per row with some gap */
        height: calc(50% - 5px);
    }
}

@media (max-width: 1000px) {
    .reason {
        height: 12rem; /* Adjust the height for larger space */
    }

    .reason-cards {
        flex-direction: column; /* Stack cards vertically */
    }
}

/* 
* Responsive styles for feature cards on smaller screens 
*/
@media (max-width: 768px) {
    .reason {
        width: 100%;
        /* Full width for a single card in mobile */
    }
}

/* 
* Title styling for features cards 
*/
.reason h1 {
    font-size: 20px;
    font-weight: 650;
}

/* 
* Description styling for features cards 
*/
.reason p {
    color: #878787;
}

/* 
* Icon styling for features cards 
*/
.reason svg {
    width: 80px;
    height: 80px;
    justify-content: flex-end;
}
  






/* FAQ Section Styles */
.section-faq {
    width: 100%;
    margin: auto;
}

/* Heading */
.section-faq h2 {
    font-size: 23px;
    font-weight: 700;
    color: white;
    
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 9%;
}

/* FAQ List - Fully Expands on Large Screens, Shrinks on Small Screens */
.faq-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps it centered */
    width: 100%; /* Full width on large screens */
    max-width: 1400px; /* Prevents excessive width */
    margin: auto;
    transition: width 0.3s ease-in-out; /* Smooth resizing */
}

/* Individual FAQ Entry */
.faq-entry {
    background-color: #333;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: left;
}

.faq-entry.active {
    background-color: #555;
}

/* Question Styling */
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: white;
}

/* Answer Styling */
.faq-answer {
    display: none;
    padding-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ccc;
}

.faq-answer a {
    text-decoration: underline;
    color: #ccc;
}

.faq-entry.active .faq-answer {
    display: block;
}

/* Toggle Icon */
.toggle-icon {
    font-size: 1.2rem;
}

/* RESPONSIVE RESIZING */
@media (max-width: 1650px) {
    .faq-list {
        width: 95%;
    }

    .section-faq h2 {
        margin-left: 3%;
        margin-bottom: 20px;
        font-weight: bold;
        /* Customize as needed */
        align-items:flex-start;
    }

}

@media (max-width: 1200px) {
    .faq-list {
        width: 95%;
    }
}

@media (max-width: 992px) {
    .faq-list {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .faq-list {
        width: 93%;
    }
}

@media (max-width: 480px) {
    .faq-list {
        width: 95%;
    }

    .section-faq h2 {
        margin-left: -90%;
    }
}







/* Subscription section styles */
.subscription-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    background-color: #000;
    width: 100%;
    margin: auto;
}

.subscription-section p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 2%;
}

.subscription-form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.subscription-form input[type="email"] {
    padding: 15px;
    font-size: 1rem;
    width: 600px;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.6);  /* Semi-transparent background */
    border: 0.5px solid #c6c6c6;   /* Thin border with light gray color */
}

.subscription-form button {
    padding: 20px;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    align-items: center;

    outline: 0;
    font-weight: 550;
    display: flex;       /* Make button a flex container */
    justify-content: center; /* Horizontally center content */
}

.subsctibe-icon {
    width: 25px;
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
}

.subscription-form button:hover {
    background-color: #c20303;;
}

/* Responsive Code for Tablets */
@media (max-width: 900px) {
    .subscription-section {
        width: 100%;
        padding: 2px 10px;
    }

    .subscription-text {
        padding: 3px;
    }

    .subscription-form {
        flex-direction: column;
        /* Stack input and button vertically */
        width: 100%;
    }

    .subscription-form input[type="email"],
    .subscription-form button {
        width: 70%;
        /* Full width on tablets */
        margin: auto;
    }

    .subscription-form input[type="email"] {
        font-size: 1rem;
        padding: 12px;
    }

    .subscription-form button {
        font-size: 1rem;
        padding: 12px;
    }

    .subscription-section p {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }
}








/* Footer styles */
.site-footer {
    width: 100%;
    padding: 30px;
    margin: auto;
    background-color: #000;
}

.footer-title {
    margin-left: 12%;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: #888;
    text-decoration-color: #888;
}

.footer-links {
    margin-left: 12%;
    justify-content: center;
    align-items: center;
    width: 76%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    text-decoration-color: #888;
}

.footer-link-group {
    width: 25%;
    /* Four columns for larger screens */
    margin-bottom: 20px;
}

.footer-link-group a {
    display: block;
    color: #888;
    text-decoration: none;
    font-size: 0.8rem;
    margin-bottom: 12px;
}

.footer-link-group a:hover {
    color: #fff;
}

/* Language selector */
.language-dropdown {
    position: relative;
    display: inline-block;
    margin: 10px 0 20px 12%;
}
.dropDown-btn {
    display: inline-flex;
    align-items: center;
    background: #181818;
    color: #fff;
    box-shadow: 0 0 0 0.5px #fff;
    padding: 5px 10px;
    cursor: pointer;
    width: 140px;
    justify-content: space-between;
    border-radius: 3px;
}
.dropDown-language {
    width: 17px;
    margin-right: 7px;
}
.dropDown-arrow {
    width: 17px;
    height: 15px;
}
.language-list {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #181818;
    color: #fff;
    box-shadow: 0 0 0 0.5px #fff;
    width: 140px;
}
.language-list li {
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.language-list li img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}
.language-dropdown:hover .language-list {
    display: block;
}

/* Footer bottom text */
.footer-copyright {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #888;
    margin-left: 12%;
}

/* Responsive Code for Tablets */
@media (max-width: 768px) {
    .footer-links {
        flex-wrap: wrap;
        width: 100%;
    }

    .footer-link-group {
        width: 50%;
        /* Two columns in block layout */
        margin-bottom: 20px;
    }

    .footer-title,
    .language-dropdown {
        margin-left: 0px;
    }

    .language-dropdown {
        display: flex;
    }

    .language-select {
        font-size: 0.9rem;
        padding: 8px 16px;
        width: 200px;
    }

    .footer-copyright {
        font-size: 0.8rem;
        margin-left: 0px;
    }
}

/* Responsive Code for Mobile */
@media (max-width: 480px) {
    .footer-link-group {
        width: 100%;
        /* Single column on mobile */
        text-align: center;
    }

    .footer-title {
        font-size: 1.2rem;
    }

    .footer-link-group a {
        font-size: 0.9rem;
        width: 100%;
    }

    .language-select {
        width: 100%;
        padding: 10px;
        font-size: 0.8rem;
        margin: 0 auto;
        /* Center the selector */
    }

    .footer-copyright {
        font-size: 0.7rem;
        text-align: center;
        margin-top: 20px;
    }
}
